body{
    margin-left: 35%;
}
.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
}
	.floating-label {
		font-size: 14px;
		/* color: #cccccc; */
		position: absolute;
		/* pointer-events: none; */
		top: 9px;
		left: 12px;
		/* transition: all 0.1s ease; */
	}

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
		top: -35px;
		bottom: 0px;
		left: 0px;
		font-size: 19px;
		/* opacity: 1; */
		/* color: #404040; */
	}


.row {
	margin-top: 50px;
}
 #maindv{
     margin: 0px auto;
 }
 #Mnh{
     margin-left: 10%;
 }

 #username{
    border: none;
    width: 35%;
    border-bottom: 2px solid black;
 }

 #btn1{
     position: relative;
     top: -30px;
     left: 40%;
 }
 #btn2{
    position: relative;
    top: -30px;
    left: 40%;
}